.hoverable-row:hover {
  background-color: #f0f0f0;
  cursor: pointer; /* Change this to the color you want */
}

.sheet {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  width: 300px; /* Adjust the width as needed */
  background-color: white;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.3);
  transform: translateX(100%);
  transition: transform 0.3s ease;
}

.sheet.v-sheet--active {
  transform: translateX(0);
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
}

.dropshadow {
  filter: drop-shadow(1px 1px 2px rgba(0, 0, 0, 0.25));
}
